<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/js/index.js"></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
</head>
<body>

    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->
    <!-- ¯\_(ツ)_/¯ -->

    <div class="container-out">
        <div class="container-in">
            <div class="emoticon">
                ¯\_(ツ)_/¯
            </div>
        </div>
    </div>

    <div class="not">
        404 Not Found
    </div>

</body>
</html>