<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="index.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" type="../image/x-icon" href="../image/favicon.ico" />
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
</head>
<body>

    <form action="/board" autocomplete="off" method="post">   <!-- action 속성의 경로를 지정하세요. -->
        <div id="search-out">
            <input type="text" name="title" placeholder="제목" minlength="1" />
            <input type="text" name="place" placeholder="제목" minlength="1" />
            <input type="text" name="context" placeholder="제목" minlength="1" />
        </div>

        <input type="submit">

        </div>
    </form>

</body>
</html>
