<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/js/index.js"></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
</head>
<body>

    <h1> <!-- <%= board.title %> --> 변기막힘</h1>

    <div class="place">
        <!-- <%= board.place %> -->
        <i>1호관 1층 남자화장실</i>
    </div>

    <div class="content">
        <!-- <%= board.content %> -->
        안녕하세요저는방성훈입니다.제소개를먼저말씀드리자면대답해드리는게인지상정사랑과진실어둠을뿌리고다니는내이름은코난탐정이죠.
    </div>

    <form action=" ***** 경로 *****">
        <input class="clogged" type="button" value="막힌 변기 +1" name=" ***** name ***** ">
        <input class="clogged" type="button" value="막힌 변기 -1" name=" ***** name ***** ">
    </form>

</body>
</html>