<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/js/index.js"></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
</head>
<body>

    <h1><%= board.title %><!-- 게시물의 제목 --></h1>

    <div class="place">
        <i>
            <%= board.place %>
            <!-- 장소 -->
        </i>
    </div>

    <div class="content">
        <%= board.content %>
        <!-- 게시물의 내용 -->
    </div>

    <form action="" method="post">        <!-- POST 요청: /contents/12132 -->
        <input class="clogged" type="button" value="막힌 변기 +1" name=" ***** name ***** ">
        <input class="clogged" type="button" value="막힌 변기 -1" name=" ***** name ***** ">    <!-- 버튼을 누르면 '막힌 변기'의 수가 1 증가하거나 감소 -->
    </form>

</body>
</html>