<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/public/js/index.js"></script>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
</head>
<body>

    <div id="hadder">   <!-- 헤더 -->
        <div class="container-out">
            <div class="container-in">
                빈칸
            </div>
        </div>
    </div>

    <div class="container">
        <div id="search">   <!-- 검색바 -->    <!-- 사용자가 이곳에 검색할 문자열을 입력합니다. -->
            <form action="/" autocomplete="on" method="get">   <!-- action 속성의 경로를 지정하세요. -->
                <div id="search-out">
                    <input id="search-field" type="text" name="search" placeholder="검색" minlength="1" />
                </div>
            </form>
        </div>
    </div>


    <div id="putter">   <!-- 푸터 -->
        <div class="container-out">
            <div class="container-in">
                Copyright@Team-EdFus
            </div>
        </div>
    </div>

</body>
</html>
